<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="add-form">
  <div class="add-form">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 side-icon">
          <span class="material-symbols-outlined">info</span>
          <span>{{ 'Basic_Info_Form' | translate }}</span>
        </div>
        <div class="col-12 row m-0 p-0">
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="formEn" />
              <label>{{ 'formEn_form' | translate }}</label>
              <span *ngIf="submitted && form['formEn'].errors" class="error-validation">{{ 'Field_Required' |
                translate }}</span>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="formAr" />
              <label>{{ 'formAr_form' | translate }}</label>
              <span *ngIf="submitted && form['formAr'].errors" class="error-validation">{{ 'Field_Required' |
                translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="col-xs-12 text-end mt-4">
      <p-button type="Submit" class="btn-primary" label="Save" [loading]="btnLoading"></p-button>
    </div>
  </div>
</form>

<p-toast key="toast"></p-toast>

