<div *ngIf="!loading; else spinner">


<div class="settings" *ngFor="let row of data" >
  <span class="material-symbols-outlined fill" id="edit" (click)="openDialog(row)">edit</span>

  <div id="tittle">
    <span>{{ 'Settings' | translate }}:</span>
  </div>

  <div class="container">
    <div class="settings_info">
      <div class="latestinvoice">
        <span id="latest">{{ 'CompanyName_Setting' | translate }} :</span>
        <span id="info">
          {{ row.settingTranslation![layoutService.config.lang]?.name }}
        </span>
      </div>

      <div class="location">
        <span class="material-symbols-outlined fill">link</span>
        <span id="info">{{ row.appURL }}</span>
      </div>

      <div class="phone">
        <span class="material-symbols-outlined fill">settings_phone</span>
        <span id="info">{{ row.phone }}</span>
      </div>

      <div class="email">
        <span class="material-symbols-outlined fill">email</span>
        <span id="info">{{ row.email }}</span>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 d-flex card__left">
        <div class="img">
<label>{{ 'Logo_Image' | translate }}</label>
          <img (click)="showDialog(row.logo)" [src]="row.logo" />
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 d-flex card__left">
        <div class="img">
          <label>{{ 'Watermark_Image' | translate }}</label>
          <img (click)="showDialog(row.watermark)" [src]="row.watermark" />
        </div>
      </div>
    </div>
  </div>

  <button class="add-button" (click)="openDialog()">
    <span class="material-symbols-outlined">add</span>
  </button>
  </div>
</div>

<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <img [src]="link" />
  </p-dialog>
  <ng-template #spinner>
<mat-spinner id="spinner"></mat-spinner>
</ng-template>
