@import "../../../../assets/scss/varialbles.scss";

.employees {
    padding: 1rem 1rem 1rem 0rem;
    position: relative;

    &:lang(ar){
        padding: 1rem 0 1rem 1rem;
    }

    ::ng-deep .p-accordion {
        & .p-accordion-header {
          display: flex;
          justify-content: flex-end;
          margin-top: -3rem;

          &:lang(ar) {
            right: unset;
            left: 2rem;
            direction: ltr;
            position: absolute;
            top: 4.5rem;
          }

          & .p-accordion-header-link {
            padding: 0.5rem 0.75rem;
            border-radius: 6px;
            background-color: $white-color;
            border-color: $light-gray;
            top: 1px;
            color: $primary-color;
            right: 0.75rem;

            & chevronrighticon,
            & chevrondownicon {
              display: none;
            }

            &:lang(ar){
                top: 0;
              right: 0;
            }
          }
        }

        & .p-accordion-content {
          border-radius: 6px;
          position: relative;
          top: 0.75rem;
          padding: 0 0rem 0.75rem;
          border: none;
          border: 1px solid $lighter-gray;
          margin: 0.5rem .75rem 0.5rem 0;
        }
      }

      & .filter-title{
        display: flex;
        align-items: center;
        border-inline-end: 1px solid rgba($light-purple, .5);
        margin-top: 0.75rem;
        width: 12%;
        justify-content: space-evenly;

        & .material-symbols-outlined{
          color: $primary-color-hover;
          top: 0;
        }
      }

      & .add-button {
        width: 60px;
        height: 60px;
        font-size: $large-icon;
        border-radius: 50%;
        color: $white-color;
        border: none;
        position: fixed;
        top: calc(100vh - 85px);
        right: 1.5rem;
        background-color: $primary-color;

        &:lang(ar){
          right: unset;
          left: 1.5rem;
        }
      }

      & .filter-field{
        display: flex;

        & label{
          display: flex;
          align-items: center;
          margin-inline-end: .5rem;
        }

        & p-dropdown, & p-calendar{
          flex-grow: 2;
        }
      }

      &__search {
        margin-inline-end: 4.5rem;

        & .search-field{
          border-color: $light-gray;
        }
      }



  &__tabView {
    position: relative;
    top: -1rem;
    max-width: 100%;

    @media (min-width: 992px) {
      position: absolute;
      top: 0.8rem; // Desktops and large screens
    }

    & ::ng-deep .p-tabview-nav {
      padding-inline-end: 2.5rem;
      padding-inline-start: 0;
    }

    & ::ng-deep .p-tabview .p-tabview-nav-btn.p-link {
      background-color: $lighter-gray-2;
      color: $primary-color;
      box-shadow: unset;
      top: -5px;
    }
  }
  .box2{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    .container{
      display: flex;
      flex-wrap: wrap;
      column-gap: 2rem;
    }
    .result{
      padding-right: 5rem;
      display: flex;
      align-items: center;
      @media(max-width:767px){
        justify-content: center;
      padding-right: 1rem;
      }
       .button_result{
        width: 3rem !important;
        height: 3rem !important;
        border-radius: 50% !important;
        background-color: $primary-color-hover !important;
        border: none;
        color: white;
       
        padding: 0 !important;
      }
      &:lang(ar){
        padding-right: 0;
        padding-left: 5rem;
        @media(max-width:767px){
        padding-right: 0;
        padding-left: 1rem;


        }

      }
    }
  }

  & .box-shadow {
    background-color: $white-color;
    border-radius: 6px;
    border-color: rgba($light-purple, 0.5);
    position: relative;
  }

.box{
  max-height: 30rem;
  overflow-y: auto;
}
  & .card {

    display: flex;
    flex-direction: row;
    padding: 0.75rem 1rem;
    border-radius: 6px;

    border-color: rgba($primary-color, 0.5);
    :lang(ar){
      padding-left: 0;
    }

    @media (max-width:767px) {
      flex-direction: column;
      row-gap: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

    }
    @media (max-width: 991px) and (min-width: 768px) {
      flex-direction: column;
      row-gap: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
     // Tablets
    }


    &__left {
      align-items: center;

    }

    &__image{
      width:85px;
      height: 85px;
      border-radius: 50%;
      clip-path: circle(50% at 50% 50%);
      position: relative;
    margin: auto;

      & img{
          width: fit-content;
          height: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);

      }
  }

  & .name-ID {

    & .name {
      font-family: myfont-bold, myfont-ar-bold;
      font-size: $h5-size;
      color: $primary-color;
    }

    & .size{
        padding-inline-end: .5rem;
        margin-inline-end: .5rem;
        border-inline-end: 1px solid $light-gray;
        font-family: myfont-bold, myfont-ar-bold;

        &:lang(ar){
          padding-inline-start: .5rem;
          margin-inline-start: .5rem;
          border-inline-start: 1px solid $light-gray;
          border-inline-end: none
        }
    }

    & .category{
        font-family: myfont-bold, myfont-ar-bold;
    }

    & .item__ID{
      color: $gray-color;
      opacity: .7;
    }
  }

  &-section{
    border-inline-end: 1px solid $lighter-gray;
    margin-inline-end: 1rem;
    padding-inline-end: 1rem;
    width: 95%;


    @media(max-width:767px){
      width: 100%;
    border-inline-end: 1px solid $lighter-gray;

    }
    @media (max-width: 991px) and (min-width: 768px) {
      width: 100%;
       // Tablets
    }



    // @media (max-width: 666px) {
    //   border-inline-end: unset;
    //   margin-bottom: 1rem;
    //   border-block-end: 1px solid $lighter-gray;
    //   width: 100%;
    // }

    // &:last-child{
    //     border: unset;
    //     margin-inline-end: unset;
    // }

    &__title{
        font-family: myfont-bold, myfont-ar-bold;
        color: $blue-color;
        margin-bottom: 0.75rem;
        display: none;
    }

    &__items{
        display: flex;
        width: 80%;
       column-gap: 0.5rem;

        @media (max-width:767px){
          display: flex;
          flex-direction: column;
          width: 100%;


        }
        @media (max-width: 991px) and (min-width: 768px) {
          width: 100%;
           // Tablets
        }

    }


  }


    &__contents {
      display: flex;
     flex-direction: column;
      row-gap: 1rem;
      width: 75%;

      @media(max-width:767px){
        width: 100%;
      }
      @media (max-width: 991px) and (min-width: 768px) {
        width: 90%;
        margin: auto;
         // Tablets
      }


      @media (max-width: 1390px) {

      }

      &__item {
        margin-inline-end: 2rem;


        @media (max-width: 790px) {
          width: unset;
        }
      }

      @media (max-width: 991px) {
        margin-top: 1rem;
      }
    }

    &-label {
      font-size: $small-font;
      color: $gray-color;
      opacity: 0.5;
      font-family: myfont-semibold, myfont-ar-semibold;
    }

    &-info {
      font-family: myfont-semibold, myfont-ar-semibold;
      height: 40px;
      line-height: 40px;
      width: 100%;

      @media(max-width:767px){
        width: 100%;

      }

      & .material-symbols-outlined {
        color: $blue-color;
      }
    }
    .one{
      display: flex;
      align-items: center;
      justify-content: center;

      width: 20px;
      @media (max-width: 991px) and (min-width: 768px) {
        width: 100%;
         // Tablets
      }
      @media(max-width:767px){
        width: 100%;
      }


    }

    &__actions {
      display: flex;
      align-items: center;

      justify-content: center;
      cursor: pointer;
      width: 50px;

      &__details {
        font-size: $xl-icon;
        color: $primary-color;
      }
    }
  }
}


//responsive
@media screen and (max-width: 990px) {
  .filter-title {
    width: 100% !important;
    justify-content: start !important;
  }
}
.total {

  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.image-container{
  background-color:  #D9D9D9;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 10px;

  @media (max-width: 991px) and (min-width: 768px) {
    width: 200px;
    height: 200px;
    margin-left: 1.5rem;

  }
  @media(max-width:767px){
    width: 200px;
    height: 200px;
  }

  .employee_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;




    img{
      width: 100%;
      height: 100%;
      border-radius: 10px;

    }

  }

}
.box3{

  @media(max-width:767px){
    flex-direction: column;
  }
}

.reset-btn {
      ::ng-deep button {
        background-color: $primary-color-hover !important;
        color: #fff !important;
        border: none !important;
        border-radius: 50% !important;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 1.5rem;
        transition: background 0.2s;
        .material-symbols-outlined{
          top: auto;
        }
        &:hover {
          background-color: darken($primary-color-hover, 5%) !important;
        }
      }
    }
  #icon_edit{
  color: $primary-color;
}
#icon_delete{
  color: $secoundary-color;
}
