<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="reset-password">
  <div class="reset-password">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="p-float-label">
            <input pInputText type="text" formControlName="password" />
            <label>{{ 'Password_ResetPassword' | translate }}</label>
            <span *ngIf="submitted && form['password'].errors" class="error-validation">{{ 'Field_Required' |
              translate }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-end mt-4">
      <p-button type="Submit" class="btn-primary" label="Save" [loading]="btnLoading"></p-button>
    </div>
  </div>
</form>

<p-toast key="toast"></p-toast>
