<div class="page-container">
  <div class="header-admin__tools">
    <div [matMenuTriggerFor]="langMenu">
      <span class="material-symbols-outlined lang-icon">language</span>
      <span class="m-0">{{currentlang}}</span>

      <span class="material-symbols-outlined m-0"> arrow_drop_down </span>
    </div>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="changeLang('en')">
        English
      </button>
      <button mat-menu-item (click)="changeLang('ar')">
        عربي
      </button>
    </mat-menu>

  </div>
  <div class="elipse-container">
    <img src="../../../../assets/images/Ellipse 141.svg" alt="">
  </div>
  <div class="icon-container">
    <img src="../../../../assets/images/Logo ICON Transparant.svg" alt="">
  </div>
  <div class="logo-container">
    <img src="../../../../assets/images/Fill Logo.svg" alt="">
  </div>
  <div class="page-container__info">
    <span>{{'thanks_userQuestion' | translate}}</span>
    <span>{{'completeDocument_userQuestion' | translate}}</span>
  </div>
  <div class="question_items">
    <form *ngIf="dataForm" action="" [formGroup]="dataForm">
      <ng-container *ngFor="let q of displayedQuestions; let i = index">
        <div *ngIf="q.uuid" class="question_item">
          <div class="question_item_info">
            <span id="question_number">
              {{ pageIndex * pageSize + i + 1 }}.
            </span>
            <span id="question_text">
              {{ q.questionTranslations?.[layoutService.config.lang]?.questionText }}
            </span>
            <span id="question_select">{{'select_userQuestion' | translate}}</span>
            <span id="question_required">
              {{ 'required_userQuestion' | translate }}
            </span>
          </div>
          <div class="options">
            <label *ngFor="let opt of q.options">
              <input type="radio" [formControlName]="q.uuid" [value]="opt.uuid" name="{{ q.uuid }}" />
              <span>
                {{ opt.optionTranslation?.[layoutService.config.lang]?.name }}
              </span>
            </label>
          </div>
        </div>
      </ng-container>
      <button (click)="openPage2()">
        <img src="../../../../assets/images/arrow-right.svg" alt="">
        {{'Next_userQuestion' | translate}}
      </button>
    </form>
  </div>
</div>