@import "../../../../assets/scss/varialbles.scss";
*:after,
*:before {
	box-sizing: border-box;
}
.page-container{
    position: relative;
    background-color: white;
    width: 100%;
    padding: 1rem;
    .elipse-container{
        position: absolute;
        top: -5rem;
        right: 0;
        :lang(ar){
            right: unset;
            left: 0;
        }
    }
    .icon-container{
        width: 18rem;
        position: absolute;
        right: 0;
        bottom: 0;
         :lang(ar){
            right: unset;
            left: 0;
        }
        img{
            width: 100%;
        }
    }
    .logo-container{
        width: 12rem;
        margin: auto;
        @media(max-width:767px){
            margin-top: 1rem;
        }
        img{
            width:100%
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        background-color: #F1F1F1;
        width: 90%;
        margin: auto;
        border-radius: 8px;
        padding: 1rem;
        margin-top: 1rem;
        row-gap: 0.5rem;
        span{

            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0%;

        }
        span:first-child{

            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0%;

        }
    }
    .question_items{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-top: 1rem;
        margin: auto;
        row-gap: 1rem;

        .question_item{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            .question_item_info{
                display: flex;
                column-gap: 0.5rem;
                @media(max-width:767px){
                    flex-direction: column;

                }
                #question_number,#question_text{

                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;

                }

                #question_select{

                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    color: #b4b3b3;

                }

                #question_required{

                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    color: #E6404D;
                }

            }
            .options{
                padding: 0.5rem;
                
               
.radio-wrapper-6 {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .radio-wrapper-6 input[type=radio] {
      --active: #fccaad;
      --active-inner: #fff;
      --focus: 2px #fff ;
      --border: #A75422;
      --border-hover: #A75422;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .radio-wrapper-6 input[type=radio]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .radio-wrapper-6 input[type=radio]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .radio-wrapper-6 input[type=radio]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .radio-wrapper-6 input[type=radio]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .radio-wrapper-6 input[type=radio]:disabled + label {
      cursor: not-allowed;
      color: #8A91B4;
    }
    .radio-wrapper-6 input[type=radio]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .radio-wrapper-6 input[type=radio]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .radio-wrapper-6 input[type=radio]:not(.switch) {
      width: 21px;
    }
    .radio-wrapper-6 input[type=radio]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .radio-wrapper-6 input[type=radio]:not(.switch):checked {
      --o: 1;
    }
    .radio-wrapper-6 input[type=radio] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: .5em;
    }

    .radio-wrapper-6 input[type=radio] {
      border-radius: 50%;
    }
    .radio-wrapper-6 input[type=radio]:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    .radio-wrapper-6 input[type=radio]:checked {
      --s: .5;
    }
  } 

             
            }
        }
    }
    button{
        border: none;
        padding: 16px 72px;
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        background-color: $primary-color;
        margin-top: 2rem;
        border-radius: 30px;
        color: white;

        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        cursor: pointer;
        @media(max-width:767px){
            margin: auto;
            margin-top: 4rem;
        }

    }
    .header-admin__tools{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
}
.error-validation {
  color: #c00;
  margin: 0.5rem 0; // give it some breathing room
  font-size: 0.9rem;
  text-align: center; // center under the questions
}
.page-error {
  color: #c00;
  margin: 1rem 0; // space above and below
  text-align: left; // align with questions
  font-size: 0.9rem;
}
