<div class="options">
  <div [formGroup]="dataForm" class="row mb-4 m-0  p-0">
    <div class="container d-flex ">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
         <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
                <div class="p-float-label">
                  <p-dropdown [options]="options" optionLabel="name" optionValue="uuid" formControlName="option" [style]="{width: '20rem'}"
                    [filter]="true" [showClear]="true" filterBy="name" (onFilter)="FillOption($event)" (ngModelChange)="OnChange()"></p-dropdown>
                  <label [style]="{width: '12rem'}">{{ 'OptionName_Option' | translate }}</label>
                </div>
              </div>
      </div>


            <div class="col result">
        <p-button class="reset-btn" (onClick)="resetform()">
          <span class="material-symbols-outlined">restart_alt</span>
        </p-button>
            </div>

  </div>


  <ng-container *ngIf="!loading; else ListView">
   
      <div class="box">
        <div class="card mx-0 mb-2" *ngFor="let row of data">
          <div class="icon-container">
            <span class="material-symbols-outlined fill">comment</span>

          </div>
          <div class="col-3 card__contents">
            <div class="card-section__items">
             <div class="card__contents__item">
                  <div class="card-label">{{ 'CustomerAnswer_customerAnswers' | translate }}</div>
                  <div class="card-info">
            {{ row.option?.optionTranslation![layoutService.config.lang]?.name }}
                  </div>
                </div>
                <div class="card__contents__item">
                  <div class="card-label">{{ 'answerCount_customerAnswers' | translate }}</div>
                  <div class="card-info">
                    {{ row.numberOfCustomers }}
                  </div>
                </div>
                </div>


          </div>

          <!-- <div class="one">
            <div [matMenuTriggerFor]="menu" class="card__actions">
              <span class="material-symbols-outlined card__actions__details">more_vert</span>
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item >
                <span class="material-symbols-outlined">Edit</span>
                {{ 'Edit_Option' | translate }}
              </button>
              <button mat-menu-item >
                <span class="material-symbols-outlined">delete</span>
                {{ 'Delete_Option' | translate }}
              </button>
            </mat-menu>

          </div> -->
        </div>


      </div>
    


    <div *ngIf="!loading && data.length === 0 && searchAttempted" class="no-answers-message">
    {{ 'NoAnswersFound' | translate }}
  </div>
    <div class="all d-flex">
      <div class="total">
        {{ "totalAnswers_customerAnswers" | translate }}:{{ totalRecords }}
      </div>

    </div>
    <p-paginator class="mt-2" [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[4, 12, 20, 30]"
      [first]="first" (onPageChange)="paginate($event)"></p-paginator>


  </ng-container>

  <ng-template #ListView>
    <div class="row">
      <div *ngFor="let list of [1, 2, 3]" class="col mx-0 mt-2">
        <p-skeleton height="10rem"></p-skeleton>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let list of [1, 2, 3]" class="col mx-0 mt-2">
        <p-skeleton height="10rem"></p-skeleton>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let list of [1, 2, 3]" class="col mx-0 mt-2">
        <p-skeleton height="10rem"></p-skeleton>
      </div>
    </div>
  </ng-template>

</div>
