<form [formGroup]="dataForm" class="add-Password">
  <div class="add-Password">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 row m-0 p-0">
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="firstNameAr" />
              <label>{{ 'FirstNameAr_Password' | translate }}</label>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="lastNameAr" />
              <label>{{ 'LastNameAr_Password' | translate }}</label>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="firstNameEn" />
              <label>{{ 'FirstNameEn_Password' | translate }}</label>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="lastNameEn" />
              <label>{{ 'LastNameEn_Password' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="p-float-label">
            <input pInputText type="text" formControlName="username" />
            <label>{{ 'Password_Username' | translate }}</label>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="p-float-label">
            <input pInputText type="text" formControlName="password" />
            <label>{{ 'Password_Password' | translate }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<p-toast key="toast"></p-toast>

