<div class="notification">
  <div [formGroup]="dataForm" class="row mb-4 m-0 flex-row-reverse p-0">
    <div class="col-lg-3 col-md-10 col p-0 notification__search">
      <div class="flex flex-wrap justify-content-center gap-3">
        <span class="p-input-icon-left p-0">
          <i class="pi pi-search"></i>
          <input class="search-field" type="text" (ngModelChange)="OnChange()" placeholder="{{ 'UserName'| translate }}"
            formControlName="UserName" pInputText />
        </span>
      </div>
    </div>
    <p-accordion class="p-0">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <span class="material-symbols-outlined">tune</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="m-0 box2 d-flex">
            <div class="filter-title">
              <span class="material-symbols-outlined">filter_alt</span>
              <span>Filter By</span>
            </div>
            <div class="container">

              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3">
                <div class="p-float-label">
                  <p-dropdown [options]="typeList" optionLabel="value" optionValue="key" formControlName="Type"
                    (ngModelChange)="OnChange()"></p-dropdown>
                  <label>{{ 'notification_Type' | translate }}</label>
                </div>
              </div>


            </div>

            <div class="col result">
              <p-button class="btn-outline-secondary" (onClick)="resetform()">
                <span class="material-symbols-outlined">restart_alt</span>
              </p-button>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>

  </div>


  <ng-container *ngIf="!loading; else ListView">
    <div class="row mx-0 mt-2 box">
      <div *ngFor="let row of data">
        <div class="card col-12 mx-0 mb-2">
          <div class="col-lg-9 col-md-12 col-sm-12 card__contents">
            <div class="card-section">
              <div class="card-section__title">info</div>
              <div class="card-section__items">
                <div class="card__contents__item" *ngIf="row.userIDFK != null">
                  <div class="card-label">{{ 'UserName' | translate }}</div>
                  <div class="card-info">
                    <span class="material-symbols-outlined fill"></span>
                    {{ row.user.userTranslation![layoutService.config.lang]?.firstName }} {{
                    row.user.userTranslation![layoutService.config.lang]?.lastName }}
                  </div>
                </div>
                <div class="card__contents__item">
                  <div class="card-label">{{ 'notification_Type' | translate }}</div>
                  <div class="card-info">
                    <span class="material-symbols-outlined fill"></span>
                    {{row.notificationTypeValue}}
                  </div>
                </div>
                <div class="card__contents__item">
                  <div class="card-label">{{ 'Title' | translate }}</div>
                  <div class="card-info">
                    <span class="material-symbols-outlined fill"></span>
                    {{row.title}}
                  </div>
                </div>
              </div>
            </div>

            <div class="card-section d-flex">

              <div class="card__contents__item">
                <div class="card-label">{{ 'User_Note' | translate }}</div>
                <div class="card-info">{{row.note}}</div>
              </div>


            </div>


          </div>
          <div class="one">
            <div [matMenuTriggerFor]="menu" class="card__actions">
              <span class="material-symbols-outlined card__actions__details">more_vert</span>
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialog(row)">
                <span class="material-symbols-outlined">Edit</span>
                {{ 'Edit_Driver' | translate }}
              </button>
              <button mat-menu-item (click)="confirmDelete(row)">
                <span class="material-symbols-outlined">delete</span>
                {{ 'Delete_Driver' | translate }}
              </button>
            </mat-menu>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="total">
        {{ "totalNotification" | translate }}:
        {{ totalRecords }}
      </div>
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[4, 12, 20, 30]"
        [first]="first" (onPageChange)="paginate($event)"></p-paginator>
    </div>
    <button class="add-button" (click)="openDialog()">
      <span class="material-symbols-outlined">add</span>
    </button>

  </ng-container>

  <ng-template #ListView>
    <div class="row">
      <div *ngFor="let list of [1, 2, 3, 4]" class="row mx-0 mt-2">
        <p-skeleton height="7.5rem"></p-skeleton>
      </div>
    </div>
  </ng-template>


  <p-confirmDialog #positionDialog key="positionDialog" position="bottom" [baseZIndex]="10000" onHide="true">
    <ng-template pTemplate="footer">
      <button type="button" pButton icon="pi pi-times" label="{{ 'No' | translate }}"
        (click)="positionDialog.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="{{ 'Yes' | translate }}"
        (click)="positionDialog.accept()"></button>
    </ng-template>
  </p-confirmDialog>

</div>