<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" *ngIf="!loading; else ListView">
  <div class="add-question row mt-2">
    <div class="col-lg-6 col-md-12">
      <div class="box-shadow mb-3">
        <div class="row">

          <div class="col-12 row m-0 p-0">
            <div class="col-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="text" formControlName="questionAr" />
                <label>{{ 'questionAr_AddQuestion' | translate }}</label>
                <span *ngIf="submitted && form['questionAr'].errors" class="error-validation">{{ 'Field_Required' |
                  translate }}</span>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="text" formControlName="questionEn" />
                <label>{{ 'questionEn_AddQuestion' | translate }}</label>
                <span *ngIf="submitted && form['questionEn'].errors" class="error-validation">{{ 'Field_Required' |
                  translate }}</span>
              </div>
            </div>
            <div class="col-12 ">
              <div class="p-float-label">
                <div class="dropdown">
                  <button type="button" class="dropdown-button" (click)="toggleDropdownForm()">
                    {{ 'AddtoForm_questions' | translate }}
                    <img src="../../../../assets/images/icons8-arrow-down-30.png" alt=""
                      style="width: 15px; height: 15px;">
                  </button>
                  <div class="dropdown-content" *ngIf="dropdownForm">
                    <div class="flex flex-wrap justify-content-center gap-3">
                      <span class="p-input-icon-left p-0">
                        <i class="pi pi-search"></i>
                        <input class="search-field" type="text" (input)="FillForm($event)"
                          placeholder="{{ 'searchForm_AddQuestion' | translate }}" formControlName="search_form"
                          pInputText />

                      </span>
                    </div>
                    <div *ngFor="let form of forms" class="option-item" (click)="toggleSelectionForm(form.uuid!)">
                      <input type="checkbox" [checked]="isSelectedFrom(form.uuid!.toString())" />
                      {{ form.formTranslations![layoutService.config.lang]?.name }}
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="selected-form">
              <span>{{'selectedForm_AddQuestion' | translate }}:</span>
              <ul>
                <li *ngFor="let formUuid of selectedFrom">
                  <!-- call the helper, fallback to showing the UUID if name is missing -->
                  {{ getFormName(formUuid.uuid) || formUuid }}
                  <span class="material-symbols-outlined" (click)="removeForm(formUuid.uuid)">
                    delete
                  </span>
                </li>
              </ul>
              <div *ngIf="formSelectionError" class="error">
                {{ 'You_must_select_at_least_one_form' | translate }}
              </div>
            </div>
            <div class="col-12 ">
              <div class="p-float-label">
                <div class="dropdown">
                  <button type="button" class="dropdown-button" (click)="toggleDropdownOption()">
                    {{ 'AddOptions_AddQuestion' | translate }}
                    <img src="../../../../assets/images/icons8-arrow-down-30.png" alt=""
                      style="width: 15px; height: 15px;">
                  </button>
                  <div class="dropdown-content" *ngIf="dropdownOptions">
                    <div class="flex flex-wrap justify-content-center gap-3">
                      <span class="p-input-icon-left p-0">
                        <i class="pi pi-search"></i>
                        <input class="search-field" type="text" (input)="FillOption($event)"
                          placeholder="{{ 'searchOption_AddQuestion' | translate }}" formControlName="search_option"
                          pInputText />
                        <button *ngIf="options.length === 0 && dataForm.controls['search_option'].value" type="button"
                          class="add-option-btn"
                          (click)="openAddOptionDialog(dataForm.controls['search_option'].value)">
                          + {{ 'Add_New_Option' | translate }}
                        </button>
                      </span>
                    </div>
                    <div *ngFor="let option of options" class="option-item" (click)=" toggleSelectionOption(option)">
                      <input type="checkbox" [checked]="isSelectedOption(option)" />
                      {{ option.optionTranslation![layoutService.config.lang]?.name }}
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>

    </div>
    <div class="options_container col-lg-6 col-md-12" formArrayName="options">
      <div class="box-shadow mb-3">
        <span id="tittle">{{'selectedOptions_AddQuestion' | translate}}:</span>
        <div class="options-grid">
          <div class="grid-header">
            <span>
              {{ 'OptionNameEn_AddQuestion' | translate }}:
            </span>
            <span>
              {{ 'OptionNameAr_AddQuestion' | translate }}:
            </span>
          </div>

          <ng-container *ngFor="let grp of optionsArray.controls; let i = index">
            <div [formGroupName]="i" class="option-row">
              <input type="text" formControlName="optionEn" pInputText [readonly]="selectedOption[i].uuid !== ''" />

              <input type="text" formControlName="optionAr" pInputText [readonly]="selectedOption[i].uuid !== ''" />

              <span class="material-symbols-outlined delete-icon" (click)="removeOption(selectedOption[i])">
                delete
              </span>
            </div>
          </ng-container>
        </div>

      </div>
    </div>

    <div class="col-xs-12 text-end mt-4">
      <p-button type="Submit" class="btn-primary">{{ 'Save_Question' | translate }}</p-button>
    </div>
  </div>
</form>
<ng-template #ListView>
  <div class="row">
    <div *ngFor="let list of [1, 2, 3,]" class="col mx-0 mt-2">
      <p-skeleton height="20rem"></p-skeleton>
    </div>
  </div>
</ng-template>

<p-toast key="toast"></p-toast>
