<div class="header-admin">
    <div class="company-name">
        <div class="logocontainer">
          <img src="../../../../../assets/images/DarkLogo.png" alt="">
        </div>
        <span class="branch-name">Admin</span>
      </div>
    <div class="header-admin__container">
      <div class="header-admin__tools">
        <div [matMenuTriggerFor]="langMenu">
          <span class="material-symbols-outlined lang-icon">language</span>
          <span class="m-0">{{currentlang}}</span>
          
          <span class="material-symbols-outlined m-0"> arrow_drop_down </span>
        </div>
        

        <div class="profile" [matMenuTriggerFor]="menu">
          <div class="profile__image">
            <!-- <span class="registered-user">{{userService.currentUser.userName}}</span> -->
            <span class="material-symbols-outlined"> arrow_drop_down </span>
          </div>
  
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
              <span class="material-symbols-outlined">account_circle</span>
              My Profile
            </button> -->
            <button mat-menu-item (click)="logout()">
              <span class="material-symbols-outlined">logout</span>
              Logout
            </button>
          </mat-menu>

          <mat-menu #langMenu="matMenu">
            <button mat-menu-item (click)="changeLang('en')">
              English
            </button>
            <button mat-menu-item (click)="changeLang('ar')">
              عربي
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  