

  <div class="page-container">
  <div class="elipse1-container">
    <img src="../../../../assets/images/Ellipse 141.svg" alt="">
  </div>
  <div class="icon-container">
    <img src="../../../../assets/images/Logo ICON Transparant.svg" alt="">
  </div>
  <div class="logo-container">
    <img src="../../../../assets/images/Fill Logo.svg" alt="">
  </div>
  <div class="content">
      <div class="header">
       <img src="../../../../assets/images/check.svg" alt="">
      </div>
      <div class="body">
        <span>{{'thanks_feedback' | translate}}</span>
       <span>{{'sentSuccessfuly_feedback' | translate}}</span>
      </div>
      <div class="footer">
         <button (click)="goBackHome()">
        {{'closeMessage_feedback' | translate}}
    </button>
      </div>
    </div>
  </div>
