<div class="options">
  <ng-container>
    <div class="row mx-0 mt-2 ">
      <div class="box">
      <div class="card mx-0 mb-2">
          
      <div class="forms" [formGroup]="dataForm">
       <div class="logo-container mb-5">
        <img src="../../../../assets/images/Fill Logo.svg" alt="">
       </div>
        <div class="fields">
        <div class="col-12 mb-3 field_container">
            <label>{{ 'userName_forms' | translate }}:</label>
            <div class="p-float-label">
              <input formControlName="userName" pInputText type="text" />
            </div>
        </div>
        
        <div class="col-12 mb-3 field_container">
            <label>{{ 'maritalStatus_forms' | translate }}:</label>
            <div class="p-float-label dropdown">
              <p-dropdown formControlName="maritalStatus" [options]="" optionLabel="value" optionValue="key"
               ></p-dropdown>
            </div>
        </div>
        <div class="col-12 mb-3 field_container">
            <label>{{ 'dateOfBirth_forms' | translate }}:</label>
            <div class="p-float-label">
              <p-calendar formControlName="dateOfBirth" [showIcon]="true"></p-calendar>
            </div>
        </div>
        <div class="col-12 mb-3 field_container">
            <label>{{ 'phoneNumber_forms' | translate }}:</label>
            <div class="p-float-label d-flex gap-2">
                <p-dropdown formControlName="countryCode" [options]="" optionLabel="value" optionValue="key"
                formControlName="countryCode"></p-dropdown>
                <input formControlName="phoneNumber" pInputText type="text"  />
            </div>
        </div>
        <div class="col-12 mb-3 field_container">
            <label>{{ 'email_forms' | translate }}:</label>
            <div class="p-float-label">
              <input formControlName="email" pInputText type="text" />
            </div>
        </div>
        <div class="col-12 mb-3 field_container">
            <label>{{ 'country_forms' | translate }}:</label>
            <div class="p-float-label">
              <input formControlName="country" pInputText type="text" />
            </div>
        </div>
        <div class="col-12 mb-3 field_container">
            <label>{{ 'infoforms_forms' | translate }}</label>
            <div class="p-float-label">
              <textarea formControlName="info" pInputText ></textarea>
            </div>
        </div>
        <div class="col-12 mb-3 field_container">
            <label>{{ 'sendOffers_forms' | translate }}</label>
            <div class="p-float-label radio_options">
                <div class="gap-2 option1">
                    <p-radioButton formControlName="sendOffers" value="Yes"  id="option1"></p-radioButton>
                   
                    <label for="option1">{{'acceptOffers_forms' | translate}}</label>
                </div>
                <div class="gap-2 option2">
                    <p-radioButton formControlName="sendOffers" value="No"  id="option2"></p-radioButton>
                    <label for="option2">{{'notAcceptOffers_forms' | translate}}</label>

                    
                </div>
            </div>
        </div>
      
    </div>
    <div class="col-xs-12 mt-4 ">
        <p-button type="Submit" class="btn-primary" label="Start" [loading]="btnLoading"></p-button>
      </div>
    
    </div>

        </div>
        
      </div>
    </div>

    <div class="all d-flex">
      <div class="total">
        {{ "totalForms_Forms" | translate }}:{{ totalRecords }}
      </div>

    </div>
    <p-paginator class="mt-2" [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[4, 12, 20, 30]"
      [first]="first" (onPageChange)="paginate($event)"></p-paginator>
     <button class="add-button" (click)="openAddForm()">
      <span class="material-symbols-outlined">add</span>
    </button>

  </ng-container>

  <ng-template #ListView>
    <div class="row">
      <div *ngFor="let list of [1, 2, 3, 4]" class="row mx-0 mt-2">
        <p-skeleton height="7.5rem"></p-skeleton>
      </div>
    </div>
  </ng-template>

</div>

