<div class="options">
  <div [formGroup]="dataForm" class="row mb-4 m-0  p-0">
    <p-accordion class="mt-5 p-0">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <span class="material-symbols-outlined">tune</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="m-0 box2 d-flex">
            <div class="filter-title">
              <span class="material-symbols-outlined">filter_alt</span>
              <span>Filter By</span>
            </div>
            <div class="container">

              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-3">
                <div class="flex flex-wrap justify-content-center gap-3">
                  <span class="p-input-icon-left p-0">
                    <i class="pi pi-search"></i>
                    <input class="search-field" type="text" (ngModelChange)="OnChange()"
                      placeholder="{{ 'FormName_form' | translate }}" formControlName="name" pInputText />
                  </span>
                </div>
              </div>


            </div>

            <div class="col result">
              <div class="ms-2 mt-3">
                <p-button class="reset-btn" (onClick)="resetform()">
                  <span class="material-symbols-outlined">restart_alt</span>
                </p-button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>

  </div>


  <ng-container *ngIf="!loading; else ListView">
    <div class="row mx-0 mt-2">
      <div class="col-12 col-md-4 mb-4 d-flex" *ngFor="let row of data">
        <div class="card flex-fill">
          <div class="icon-container">
            <img src="assets/images/icons8-option-30.png" alt="" />
          </div>
          <div class="card__contents">
            <div class="card__contents__item">
              <div class="card-label">
                {{ row.formTranslations![layoutService.config.lang]?.name }}
              </div>
            </div>
          </div>
          <div class="card__actions mt-auto">
            <div [matMenuTriggerFor]="menu" class="action-trigger">
              <span class="material-symbols-outlined">more_vert</span>
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)=" OpenQRDialog(row)">
                <span class="material-symbols-outlined">qr_code</span>
                {{ 'ShowQR_Form' | translate }}
              </button>
              <button mat-menu-item (click)=" CopyLink(row)">
                <span class="material-symbols-outlined" id="icon_edit">content_copy</span>
                {{ 'CopyLink_Form' | translate }}
              </button>
              <button mat-menu-item (click)="openAddForm(row)">
                <span class="material-symbols-outlined" id="icon_edit">edit</span>
                {{ 'Edit_Form' | translate }}
              </button>
              <button mat-menu-item (click)="confirmDelete(row)">
                <span class="material-symbols-outlined" id="icon_delete">delete</span>
                {{ 'Delete_Form' | translate }}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="all d-flex">
      <div class="total">
        {{ "totalForm_form" | translate }}:{{ totalRecords }}
      </div>

    </div>
    <p-paginator class="mt-2" [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[3, 6, 9, 12]"
      [first]="first" (onPageChange)="paginate($event)"></p-paginator>
    <button class="add-button" (click)="openAddForm()">
      <span class="material-symbols-outlined">add</span>
    </button>

  </ng-container>

  <ng-template #ListView>
    <div class="row">
      <div *ngFor="let list of [1, 2,3]" class="col mx-0 mt-2">
        <p-skeleton height="7.5rem"></p-skeleton>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let list of [1, 2,3]" class="col mx-0 mt-2">
        <p-skeleton height="7.5rem"></p-skeleton>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let list of [1, 2,3]" class="col mx-0 mt-2">
        <p-skeleton height="7.5rem"></p-skeleton>
      </div>
    </div>
  </ng-template>

  <p-confirmDialog #positionDialog key="positionDialog" position="bottom" [baseZIndex]="10000" onHide="true">
    <ng-template pTemplate="footer">
      <button type="button" pButton icon="pi pi-times" label="{{ 'No' | translate }}"
        (click)="positionDialog.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="{{ 'Yes' | translate }}"
        (click)="positionDialog.accept()"></button>
    </ng-template>
  </p-confirmDialog>

</div>

<p-toast key="toast"></p-toast>
