<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="add-Setting" *ngIf="!loading; else spinner">
  <div class="add-Setting">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 side-icon">
          <span class="material-symbols-outlined">info</span>
          <span>{{ 'Basic_Info_Settings' | translate }}</span>
        </div>
        <div class="col-12 row m-0 p-0">
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="nameAr" />
              <label>{{ 'NameAr_AddSettings' | translate }}</label>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="nameEn" />
              <label>{{ 'NameEn_AddSettings' | translate }}</label>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="location" />
              <label>{{ 'Location_AddSettings' | translate }}</label>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="phone" />
              <label>{{ 'Phone_AddSettings' | translate }}</label>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label">
              <input pInputText type="text" formControlName="email" />
              <label>{{ 'Email_AddSettings' | translate }}</label>
            </div>
          </div>
          <div>
            <label>{{ 'Logo_Image' | translate }}</label>
            <app-img-control (onSelected)="OnSelectFileLogo($event)" [fileInput]="fileInputLogo"></app-img-control>
            <small *ngIf="submitted && logo" class="error-validation">
              {{ "Field_Required" | translate }}
            </small>
          </div>
          <div>
            <label>{{ 'Watermark_Image' | translate }}</label>
            <app-img-control (onSelected)="OnSelectFileWatermark($event)" [fileInput]="fileInputWatermark"></app-img-control>
            <small *ngIf="submitted && watermark" class="error-validation">
              {{ "Field_Required" | translate }}
            </small>
          </div>
        </div>
      </div>
    </div>




    <div class="col-xs-12 text-end mt-4">
      <p-button type="Submit" class="btn-primary" label="Save" [loading]="btnLoading"></p-button>
    </div>
  </div>
</form>
<ng-template #spinner>
<mat-spinner id="spinner"></mat-spinner>
</ng-template>

<p-toast key="toast"></p-toast>
